/*VBox {
    -fx-padding: 5 0 5 0;

}

HBox {

}

/*TextField {
    -fx-min-height: 45px;
    -fx-max-height: 45px;
}*/

/*Button {
    -fx-min-width:  45px;
    -fx-min-height: 45px;
    -fx-max-width:  45px;
    -fx-max-height: 45px;
}*/